.gudanlogo{width:150px; height:150px;float:left;margin:30px 15px 0px 15px;}
#sidebar > div > h3{float:left;	margin-left:10px;margin-top:2px;border: 1px solid #e8e8e8; }
#sidebar > div > h4{float:right;margin:15px 0px 0px 15px;float:left}
#sidebar{background-color:#9EB060; width: 180px; height:605px;float:left;}