#divContent{
	width:740px;
	float:left;
	margin-left:auto;
	margin-right:auto;
}
h2{
	text-align:center;
}
table{	
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
}
#divContent td:nth-child(2){
	text-align:left;
	padding-left:30px;
}

.col{	
	height: 50px;
}

#divContent form > div{
	width:300px;
	margin-left:auto;
	margin-right:auto;
	margin-top:30px;
	text-align: center;
}

#divContent input[type="button"]{
	width:80px;
}
#divContent form input[type="button"]{	
	margin-left:20px;	
}
