#divContent > h2{
	text-align:center;
	margin:20px 0px 20px 30px;
}
hr{
	 display: block;
	 margin-top: 0.5em;
	 margin-bottom: 0.5em;
	 margin-left: 20px;
	 margin-right: 20px;
	 border-width: 2px;
}
#tblWrite{
	width:700px;
	margin:20px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

#tblWrite tr{
	height: 100px;
}

#tblWrite th{
	width: 300px;
}

#tblWrite td{
	text-align: left;
}

#divBtnContain{
	margin-top:50px;
	margin-left:auto; 	margin-right:auto;	
}