/* ============= 게시판 스타일 속성=================== */

table {border-collapse:collapse}

#divContent > div > div{
	width:740px;
	margin-right:auto;margin-left:auto;
}
.bbsList{
	width:700px; 
	margin-right:auto;margin-left:auto;
	font-size:1.2em;
}
.bbsList tbody tr td{
	border:1px soild black;
}
.bbsList thead tr th:nth-child(1){
	width:15%;
}
.bbsList thead tr th:nth-child(3){
	width:20%;
}
.bbsList thead tr th:nth-child(4){
	width:20%;
}


.bbsList tbody tr td:nth-child(1){
	width:15%;
}
.bbsList tbody tr td:nth-child(3){
	width:20%;
}
.bbsList tbody tr td:nth-child(4){
	width:20%;
}
.bbsList tbody tr td:nth-child(2){
	text-align:left;	
	padding-left:13px;
}


tr{
	height:30px;
}
th{
	border:1px solid #999999;	
}
td{
	border-bottom:1px solid #999999;
	text-align:center;
}
#btnApply{
	width:86px; height:26px;
	background:url(../images/btn.gif) no-repeat;
}
#btnWrite{
	width:57px; height:28px;
	margin-top:20px;	margin-right:40px;	
	border:0px;	float:right;
}
